.sticky-nav {
  animation: sticky-nav 300ms;
}
.nav-link {
  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color: #2563eb; /* Tailwind Blue-600 */
}

.font-bold {
  font-weight: 700;
}

@keyframes sticky-nav {
  0% {
    transform: translateY(-6em);
  }

  100% {
    transform: translateY(0);
  }
}
